@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**************************************

  RESET

**************************************/
ul, h1, h2, h3, li, p, div {
  margin: 0;
  padding: 0;
}


/**************************************

  BREAKPOINTS

**************************************/

$medium-width: 600px;
$large-width: 1000px;

@mixin medium {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

/**************************************

  TYPOGRAPHY

**************************************/
body {
  -webkit-font-smoothing: antialiased;
  background-color: #fcfcfc;
  color: #333;
  font-family: serif;
  font-size: 18px;
}


h1, h2, h3, p {
  margin: 0 0 1em 0;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.4;
}


a {
  text-decoration: underline;
  color: blue;
}
a:visited {
  color: blue;
}
a:hover {
  color: black;
}
a:active {
  color: grey;
}

.menu_link {
  transition: transform 500ms ease;
  transform: translateX(0);
  &:hover {
    transform: translateX(20px);
  }
}


.nav li a {
  font-size: 1.3em;
  @include medium {
    font-size: 1.5em;
  }
}

.masthead {
  @include large {
    width: 25%;
    margin-right: 30px;
  }
}

/**************************************

  LAYOUT

**************************************/

.page {
  padding: 60px 30px 30px 30px;
  @include large {
  display: flex;
  align-items: flex-start;
  }
}

.main {
  padding-top: 75px;
  @include large {
    width: 75%;
  }
}

.layout {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.main_nav {
  margin-bottom: 30px;
}

.blog_item__heading {
  margin: 0;
}

.blog_item__time {
  font-size: .875em;
  font-style: italic;
}

.show {
  display: block;
}

.hide {
  display: none;
}
