@charset "utf-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**************************************

  RESET

**************************************/
body, ul, h1, h2, h3, li, p, div {
  margin: 0;
  padding: 0;
}


/**************************************

  BREAKPOINTS

**************************************/

$medium-width: 600px;
$large-width: 1000px;

@mixin medium {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

/**************************************

  TYPOGRAPHY

**************************************/
body {
  -webkit-font-smoothing: antialiased;
  background-color: #fcfcfc;
  color: #333;
  font-family: serif;
  font-size: 18px;
}

pre {
  white-space: pre-wrap;
  font-size: 0.875em;
  background: #efefef;
  padding: 1.5em;
}

code {
  display: inline-block;
  font-size: 0.875em;
  background: #efefef;
  padding: 0 0.3125em;
}


h1, h2, h3, p {
  margin: 0 0 1em 0;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.4;
}


a {
  text-decoration: underline;
  color: blue;
  transition: color 300ms ease;
}

a:visited {
  color: blue;
}

a:hover {
  color: black;
}

a:active {
  color: grey;
}

.menu_link {
  display: inline-block;
  transition: transform 500ms ease, color 300ms ease;
  transform: translateX(0px);
  &:hover {
    transform: translateX(3px);
  }
}


.nav li a {
  font-size: 1.3em;
  @include medium {
    font-size: 1.5em;
  }
}

.masthead {
  @include large {
    width: 20%;
    margin-right: 30px;
  }

  h1 {
    font-size: 1.5em;
  }
}

/**************************************

  LAYOUT

**************************************/

.page {
  padding: 60px 30px 30px 30px;
  @include large {
    display: flex;
    align-items: flex-start;
  }
}

.main {
  @include large {
    width: 80%;
  }
}

.layout {
  @include large {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}

.main_nav {
  margin-bottom: 30px;
}

.offsite {
  margin-top: 2em;
}

.blog_item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
}

.blog_item__heading {
  margin: 0;
}

.time {
  font-size: .875em;
  font-style: italic;
}

.post__header {
  margin-bottom: 2em;
}

.post__title {
  margin: 0;
  font-size: 2em;
}

.content {
  h2 {
    margin-top: 1em;
  }
  @include large {
    max-width: 85%;
  }
}

.content--blog {
  @include large {
    max-width: 80%;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
