---
title: Middleman deployments for slow learners
date: 2016/09/20
published: false
---

<p>For this site, I use a shared hosting provider I signed up for some years ago because it cost $3 a month. I don't update any of the sites on this account very often, so when I need to deploy something, say, once every six months, I just upload files straight into cPanel's file manager. Why not.</p>
<p>I decided to add a blog with <a href="https://middlemanapp.com/">Middleman</a>, which means I'll be deploying often enough for the manual method to get a little tedious. Luckily, <a href="https://github.com/middleman-contrib/middleman-deploy">middleman-deploy</a> makes it pretty easy to not do things the shabby way.</p>
<p>This introduces a new problem, though: how can I let middleman-deploy access my server credentials without storing them in my publically available <a href="https://github.com/tylergould/tylergould-net">git repo</a>? The solution has something to do with environment variables, but how can I share them across the computers I'll be using to publish the site?</p>
<h2>Using middleman-dotenv</h2>
<p></p>
<h2>Understanding the shell</h2>
<p>A few years ago my understanding of bash was fairly limited. I knew I could run Ruby code if I pasted certain phrases into Terminal.app, and if I pasted some more magic words I could get my Sass to compile. Things broke occasionally, usually having something to do with a PATH that nobody told me existed, but pasting some more words usually fixed the problem.</p>
<p>What I didn't really know, was that basically everything action I take in the terminal is carried out by a shell process.</p>
<h2>Project-specific environment variables</h2>
<p>Environment variables set in bash exist for that bash session and any child process it spawns. I want to store my shared hosting URL, but I don't want to store it in bash in . That would be hard to debug.</p>
<p>In Ruby, you can access available environment variables in an ENV hash:</p>
<p><pre>
21558:~ tgould$ irb
irb(main):001:0> ENV
=> {"VIRTUALENVWRAPPER_SCRIPT"=>"/usr/local/bin/virtualenvwrapper.sh", "VIRTUALENVWRAPPER_PROJECT_FILENAME"=>".project", "TERM_PROGRAM"=>"Apple_Terminal", "GEM_HOME"=>"/Users/tgould/.gem/ruby/2.3.0", "TERM"=>"xterm-256color", "SHELL"=>"/bin/bash", "TMPDIR"=>"/var/folders/ft/dmrzgtqj1fxgm75f_9yyjg_1v9pl3x/T/", "Apple_PubSub_Socket_Render"=>"/private/tmp/com.apple.launchd.Z7gU8hdX7g/Render", "TERM_PROGRAM_VERSION"=>"343.7", "TERM_SESSION_ID"=>"1BFA55B1-BBB1-47A1-9633-7B914FEF7551", "USER"=>"tgould", "SSH_AUTH_SOCK"=>"/private/tmp/com.apple.launchd.g7drBh6Rtv/Listeners", "__CF_USER_TEXT_ENCODING"=>"0x769B4C7D:0x0:0x0", "WORKON_HOME"=>"/Users/tgould/.virtualenvs", "VIRTUALENVWRAPPER_PYTHON"=>"/usr/local/bin/python3", "PATH"=>"/Users/tgould/.gem/ruby/2.3.0/bin:/Users/tgould/.rubies/ruby-2.3.0/lib/ruby/gems/2.3.0/bin:/Users/tgould/.rubies/ruby-2.3.0/bin:/usr/local/heroku/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/share/dotnet:/Users/tgould/.rvm/bin", "VIRTUALENVWRAPPER_HOOK_DIR"=>"/Users/tgould/.virtualenvs", "PWD"=>"/Users/tgould", "LANG"=>"en_US.UTF-8", "XPC_FLAGS"=>"0x0", "RUBY_ENGINE"=>"ruby", "XPC_SERVICE_NAME"=>"0", "HOME"=>"/Users/tgould", "SHLVL"=>"1", "GEM_ROOT"=>"/Users/tgould/.rubies/ruby-2.3.0/lib/ruby/gems/2.3.0", "LOGNAME"=>"tgould", "GEM_PATH"=>"/Users/tgould/.gem/ruby/2.3.0:/Users/tgould/.rubies/ruby-2.3.0/lib/ruby/gems/2.3.0", "RUBY_ROOT"=>"/Users/tgould/.rubies/ruby-2.3.0", "VIRTUALENVWRAPPER_WORKON_CD"=>"1", "RUBYOPT"=>"", "RUBY_VERSION"=>"2.3.0", "SECURITYSESSIONID"=>"186a5", "_"=>"/Users/tgould/.rubies/ruby-2.3.0/bin/irb", "OLDPWD"=>"/Users/tgould/vsa_codes/borden/dfa-borden-cheese-website/docroot/content/themes/borden", "LINES"=>"53", "COLUMNS"=>"204"}
irb(main):002:0>
</pre></p>
<p>There you go: basically everything in the shell environment with a few extra things added by the ruby process.</p>
<h2>The problem of state</h2>
<p>Keeping track of things is very easy if you have a small number of things. If my life involved only five things I would have no problem keeping track of them all. Unfortunately, I have to remember the approximate location of thousands of things.</p>
<p>At work, I use Ansible playbooks to provision EC2 instances and usually deploy automaticaly via some labyrinth of cloud service providers. For my personal projects, I use Heroku's For my personal sites, I don't really want to be configuring all that many things. It's too much fiddling around.</p>
<h2>Places for things</h2>
