<header class="masthead">
  <h1>tyler gould</h1>
  <p>web developer, reader of books, serial dilettante, etc.</p>
  <nav class="main_nav">
    <ul>
      <li><%= active_page == "blog" ? "-> home / blog" : "<a class='menu_link' href='/'>home / blog</a>" %></li>
      <li><%= active_page == "about" ? "-> about" : "<a class='menu_link' href='/about'>about</a>" %></li>
      <%# <li><%= active_page == "portfolio" ? "-> portfolio" : "<a class='menu_link' href='/portfolio'>portfolio</a>" %><%#</li>%>
    </ul>
  </nav>
</header>
