---
title: about me
slug: about
layout: page_layout
---

<p>I'm a developer at VSA Partners. I'm skilled at making performant, usable interfaces with React + Redux.</p>
<p>My approach to my work is, try and make everything make the most sense.</p>
<p>I'm not looking for other jobs, but if you want to contact me about some professional matter anyway, please use <a href="http://www.linkedin.com/pub/tyler-gould/12/3a5/770/">LinkedIn</a>.</p>
