---
title: about me
slug: about
layout: page_layout
---

<p>I'm a software engineer at Wyzant, currently working with Django, Tornado, and Vue.js on our collaborative, real-time lesson room.</p>
<p>I also like to build performant, usable interfaces with React + Redux.</p>
<p>My approach to my work is, try and make everything make the most sense.</p>
<p>I'm not looking for other jobs, but if you want to contact me about some professional matter anyway, please use <a href="http://www.linkedin.com/pub/tyler-gould/12/3a5/770/">LinkedIn</a>.</p>
