---
title: tyler gould / developer
---

<header class="layout">
  <h1 class="mast">tyler gould <span class="font-accent">developer</span></h1>
  <!--<ul class="nav">
    <li><a href="portfolio.html">(portfolio)</a></li>
    <li><a href="resume.html">(résumé)</a></li>
  </ul> -->
</header>
<section class="layout bio">
  <p>Hi, I'm a developer at VSA Partners.</p>
  <p>My approach to my work is, try and make everything make the most sense.</p>
  <p>I'm not looking for other jobs, but if you want to contact me about some professional matter anyway, please use <a href="http://www.linkedin.com/pub/tyler-gould/12/3a5/770/">LinkedIn</a>.</p>
</section>
<section class="layout portfolio">
  <h2 id="switch">Portfolio</h2>
  <div id="workbucket" class="hide">
    <h3>IBM</h3>
    <p>Most agile work blah blah.</p>
    <img src="http://placehold.it/350x150">
    <h3>Google</h3>
    <p>Most agile work blah blah.</p>
    <img src="http://placehold.it/350x150">
    <h3>IBM</h3>
    <p>Most agile work blah blah.</p>
    <img src="http://placehold.it/350x150">
  </div>
</section>
